<head>
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/public/css/normalize.css">
  <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.url }}/public/css/bootstrap.css">
  <link rel="stylesheet" href="{{ site.url }}/public/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/public/css/main.css">
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/public/css/responsive.css">
</head>