<header class="group">
  <div class="head-wrap group">
    <a href="{{ site.url }}/index.html">
      <img src="{{ site.url }}/public/img/etmoore.png" alt="Avatar" class="profile-photo">
    </a>
    <div class="blurb">
      <h1>Evan Moore</h1>
      <h2>Developer</h2>
    </div>
    <nav>
      <ul>
        <li><a href="{{ site.url }}/index.html">About</a></li>
        <li><a href="{{ site.url }}/blog.html">Blog</a></li>
        <li><a href="{{ site.url }}/portfolio.html">Portfolio</a></li>
      </ul>
    </nav>
  </div>
</header>
