<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="public/css/normalize.css">
  <link href='http://fonts.googleapis.com/css?family=Montserrat:700|Oxygen' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="public/css/main.css">
  <link rel="stylesheet" type="text/css" href="public/css/responsive.css">
</head>
<body>
  {% include header.html %}
  <div id="wrapper">
    {{ content }}
  </div>
  {% include footer.html %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</body>
</html>